<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Meu RPG</title>
    <link rel="stylesheet" href="../static/css/gamer.css">
</head>
<body>


<div id="menu_inicial" class="tela" >
    <h1 align="center">RPG WEB</h1>
    <button class="btn_menu_iniciar" onclick="mostrarTela('Continuar')">Continuar</button>
    <button class="btn_menu_iniciar" onclick="mostrarTela('novo-jogo')">Novo jogo</button>
    <button class="btn_menu_iniciar" onclick="mostrarTela('Configuração')">Configuração</button>
</div>


<div id="novo-jogo" class="tela">
    <h1 align="center" >Começar aventura</h1>
</div>














<script src="../static/js/script.js"></script>
</body>
</html>